@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center mt-5">
        <h1 class="display-4">Employee Management System</h1>
        <p class="lead">
            This ASP.NET MVC CRUD application manages employee data, enabling CRUD operations on employee records using a SQL Server database. Built with ASP.NET Core MVC, Entity Framework Core, and Bootstrap for a responsive and user-friendly interface.
        </p>
    </div>
</div>
