.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.card {
    margin-bottom: 1.5rem;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.btn-lg {
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
